<div class="content">
  <div class="flex items-center justify-between w-full my-4 pl-4 sm:pr-4">
    <div class="mr-6">
      <h2 class="text-3xl md:text-4xl font-semibold tracking-tight leading-7 md:leading-10 mb-1 truncate">Choisi une ecole</h2>
    </div>
  </div>
  <div class="flex flex-row flex-wrap justify-center">
    <div *ngIf="availableEcole.length == 0" class="font-base mt-6 tracking-tight text-gray-600">No available Schools found</div>
    <div *ngFor="let ecole of availableEcole" class="m-3 flex justify-center items-center">
      <div
        class="flex flex-col justify-between w-72 sm:w-96 h-96 bg-white bg-center text-gray-800 shadow-md overflow-hidden cursor-pointer"
        (click)="select(ecole)"
        [routerLink]="['ecole', ecole.id]"
        style="background-image:url({{
          ecole.image ? 'http://localhost:8036/api/image/' + ecole.image + '.jpg' : 'content/images/no-image.jpg'
        }});background-size: contain"
      >
        <div class="flex justify-between items-center ml-4 pr-8"></div>
        <div class="bg-white bg-opacity-95 shadow-md rounded-r-xl p-4 flex flex-col mr-4 mb-8">
          <h3 class="text-xl font-bold pb-2">{{ ecole.nom }}</h3>
        </div>
      </div>
    </div>
  </div>
</div>
