<div>
  <div class="row justify-content-center">
    <div class="col-md-8">
      <h2 *ngIf="account">
        User settings for [<strong>{{ account.login }}</strong
        >]
      </h2>

      <div class="alert alert-success" *ngIf="success">
        <strong>Settings saved!</strong>
      </div>

      <jhi-alert-error></jhi-alert-error>

      <form name="form" role="form" (ngSubmit)="save()" [formGroup]="settingsForm" *ngIf="account" novalidate>
        <div class="form-group">
          <label class="form-control-label" for="firstName">First Name</label>
          <input
            type="text"
            class="form-control"
            id="firstName"
            name="firstName"
            placeholder="Your first name"
            formControlName="firstName"
            data-cy="firstname"
          />

          <div
            *ngIf="
              settingsForm.get('firstName')!.invalid && (settingsForm.get('firstName')!.dirty || settingsForm.get('firstName')!.touched)
            "
          >
            <small class="form-text text-danger" *ngIf="settingsForm.get('firstName')?.errors?.required">
              Your first name is required.
            </small>

            <small class="form-text text-danger" *ngIf="settingsForm.get('firstName')?.errors?.minlength">
              Your first name is required to be at least 1 character.
            </small>

            <small class="form-text text-danger" *ngIf="settingsForm.get('firstName')?.errors?.maxlength">
              Your first name cannot be longer than 50 characters.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="lastName">Last Name</label>
          <input
            type="text"
            class="form-control"
            id="lastName"
            name="lastName"
            placeholder="Your last name"
            formControlName="lastName"
            data-cy="lastname"
          />

          <div
            *ngIf="settingsForm.get('lastName')!.invalid && (settingsForm.get('lastName')!.dirty || settingsForm.get('lastName')!.touched)"
          >
            <small class="form-text text-danger" *ngIf="settingsForm.get('lastName')?.errors?.required">
              Your last name is required.
            </small>

            <small class="form-text text-danger" *ngIf="settingsForm.get('lastName')?.errors?.minlength">
              Your last name is required to be at least 1 character.
            </small>

            <small class="form-text text-danger" *ngIf="settingsForm.get('lastName')?.errors?.maxlength">
              Your last name cannot be longer than 50 characters.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="email">Email</label>
          <input
            type="email"
            class="form-control"
            id="email"
            name="email"
            placeholder="Your email"
            formControlName="email"
            data-cy="email"
          />

          <div *ngIf="settingsForm.get('email')!.invalid && (settingsForm.get('email')!.dirty || settingsForm.get('email')!.touched)">
            <small class="form-text text-danger" *ngIf="settingsForm.get('email')?.errors?.required"> Your email is required. </small>

            <small class="form-text text-danger" *ngIf="settingsForm.get('email')?.errors?.email"> Your email is invalid. </small>

            <small class="form-text text-danger" *ngIf="settingsForm.get('email')?.errors?.minlength">
              Your Email is required to be at least 5 characters.
            </small>

            <small class="form-text text-danger" *ngIf="settingsForm.get('email')?.errors?.maxlength">
              Your Email cannot be longer than 100 characters.
            </small>
          </div>
        </div>

        <button type="submit" [disabled]="settingsForm.invalid" class="btn btn-primary" data-cy="submit">Save</button>
      </form>
    </div>
    <div *jhiHasAnyAuthority="'ROLE_ECOLE'" class="grid grid-cols-1 col-md-8 md:grid-cols-2 gap-5 md:gap-8 my-5 mx-7">
      <div class="grid grid-cols-1">
        <div class="flex mb-2 justify-between">
          <label class="uppercase md:text-sm flex items-center text-xs text-gray-500 font-semibold">Image</label>
          <button
            (click)="displayModal = true"
            class="bg-green-400 px-5 py-3 text-sm shadow-sm font-medium tracking-wider max-h-12 max-w-32 border text-green-100 rounded-full hover:shadow-lg hover:bg-green-500"
            style="margin: auto; display: block"
          >
            Change images
          </button>
        </div>
        <div class="flex items-center justify-center w-full">
          <!--          <label-->
          <!--            class='flex flex-col border-4 border-dashed w-full h-32 hover:bg-gray-100 hover:border-purple-300 group'>-->
          <!--            <div class='flex flex-col items-center justify-center pt-7'>-->
          <!--              <svg class="w-10 h-10 text-purple-400 group-hover:text-purple-600" fill="none" stroke="currentColor"-->
          <!--                   viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">-->
          <!--                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"-->
          <!--                      d="M4 16l4.586-4.586a2 2 0 012.828 0L16 16m-2-2l1.586-1.586a2 2 0 012.828 0L20 14m-6-6h.01M6 20h12a2 2 0 002-2V6a2 2 0 00-2-2H6a2 2 0 00-2 2v12a2 2 0 002 2z"></path>-->
          <!--              </svg>-->
          <!--              <p class='lowercase text-sm text-gray-400 group-hover:text-purple-600 pt-1 tracking-wider'>Selecdt a-->
          <!--                photo</p>-->
          <!--            </div>-->
          <!--            <input disabled type='file' class="hidden"/>-->
          <!--          </label>-->
          <a href="{{ ecole.image ? 'http://localhost:8036/api/image/' + ecole.image : 'content/images/no-image.jpg' }}" target="_blank">
            <img
              src="{{ ecole.image ? 'http://localhost:8036/api/image/' + ecole.image : 'content/images/no-image.jpg' }}"
              alt="{{ ecole.image }}"
          /></a>
        </div>
      </div>
      <div class="text-center flex align-center"></div>
    </div>
  </div>
</div>
<p-dialog
  header="Change image"
  [(visible)]="displayModal"
  [modal]="true"
  [style]="{ width: '50vw' }"
  [baseZIndex]="10000"
  [draggable]="false"
  [resizable]="false"
>
  <div class="grid grid-cols-1 mt-5 mx-7">
    <div class="flex flex-col items-center justify-center w-full">
      <label class="flex flex-col border-4 border-dashed w-full h-32 hover:bg-gray-100 hover:border-purple-300 group">
        <div class="flex flex-col items-center justify-center pt-7">
          <svg
            class="w-10 h-10 text-purple-400 group-hover:text-purple-600"
            fill="none"
            stroke="currentColor"
            viewBox="0 0 24 24"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M4 16l4.586-4.586a2 2 0 012.828 0L16 16m-2-2l1.586-1.586a2 2 0 012.828 0L20 14m-6-6h.01M6 20h12a2 2 0 002-2V6a2 2 0 00-2-2H6a2 2 0 00-2 2v12a2 2 0 002 2z"
            ></path>
          </svg>
          <p class="lowercase text-sm text-gray-400 group-hover:text-purple-600 pt-1 tracking-wider">Select a photo</p>
        </div>
        <input accept="image/*" (change)="handleFileInput($event)" type="file" class="hidden" />
      </label>
      <small *ngIf="file" class="form-text"> {{ file.name }}</small>
    </div>
  </div>

  <ng-template pTemplate="footer">
    <button
      (click)="displayModal = false"
      class="bg-red-500 px-5 py-3 text-sm shadow-sm font-medium tracking-wider border text-red-100 rounded-full hover:shadow-lg hover:bg-red-600"
    >
      Cancel
    </button>

    <button
      [disabled]="file == undefined"
      (click)="submit()"
      class="bg-green-400 px-5 py-3 text-sm shadow-sm font-medium tracking-wider border text-green-100 rounded-full hover:shadow-lg hover:bg-green-500"
    >
      Save
    </button>
  </ng-template>
</p-dialog>
