<div class="content">
  <div class="flex items-center justify-between w-full my-4 pl-4 sm:pr-4">
    <div class="mr-6">
      <h2 class="text-3xl md:text-4xl font-semibold tracking-tight leading-7 md:leading-10 mb-1 truncate">
        filieres du Parcour : {{ parcours.libelle }}
      </h2>
    </div>
    <div *jhiHasAnyAuthority="'ROLE_ECOLE'" class="flex items-center">
      <button
        (click)="displayModal = true"
        class="bg-gray-900 px-5 py-2 text-sm shadow-sm font-semibold tracking-wider text-white rounded-full hover:bg-gray-800"
      >
        Add +
      </button>
    </div>
  </div>
  <div class="flex flex-row flex-wrap justify-center">
    <div *ngIf="filieres.length == 0" class="font-base mt-6 tracking-tight text-gray-600">No available filieres found</div>
    <!--    <div *ngFor="let filiere of filieres"-->
    <!--         class="bg-gray-100 border-indigo-600 dark:bg-gray-800 bg-opacity-95 border-opacity-60 | p-4 border-solid rounded-3xl border-2 | flex justify-around cursor-pointer | hover:bg-indigo-400 dark:hover:bg-indigo-600 hover:border-transparent | transition-colors duration-500">-->
    <!--      <div class="flex justify-between items-center ml-4 pr-8">-->
    <!--        <div *jhiHasAnyAuthority="'ROLE_ECOLE'" (click)="delete(filiere)"-->
    <!--             class="bg-red-600 w-10 h-12 shadow  cursor-pointer flex flex-col-reverse p-2 text-center font-bold text-white rounded-b-full">-->
    <!--          <fa-icon icon="trash-alt" [fixedWidth]="true"></fa-icon>-->
    <!--        </div>-->
    <!--      </div>-->
    <!--      <div class="flex flex-col justify-center">-->
    <!--        <p class="text-gray-900 dark:text-gray-300 font-semibold">{{filiere.libelle}}</p>-->
    <!--        <p class="text-black dark:text-gray-100 text-justify font-semibold">{{filiere.nbrplaces}}</p>-->
    <!--      </div>-->
    <!--    </div>-->
    <div *ngFor="let filiere of filieres" class="max-w-xl m-6 w-full rounded-lg shadow-lg p-4 flex md:flex-row flex-col">
      <div class="flex-1">
        <h3 class="font-semibold text-lg tracking-wide cursor-pointer" [routerLink]="['/filiere', filiere.id]">{{ filiere.libelle }}</h3>
        <p class="text-gray-500 my-1">Nombre De Place : {{ filiere.nbrplaces }}</p>
      </div>
      <div class="md:px-2 mt-3 md:mt-0 items-center flex">
        <button
          *jhiHasAnyAuthority="'ROLE_CANDIDAT'"
          [routerLink]="['/candidat/filiere', filiere.id]"
          class="bg-blue-500 text-white font-bold px-4 py-2 text-sm uppercase rounded tracking-wider focus:outline-none hover:bg-blue-600"
        >
          Postuler
        </button>
        <button
          *jhiHasAnyAuthority="'ROLE_ECOLE'"
          (click)="delete(filiere)"
          class="bg-red-500 text-white font-bold px-4 py-2 text-sm uppercase rounded tracking-wider focus:outline-none hover:bg-blue-600"
        >
          Delete
        </button>
      </div>
    </div>
  </div>
</div>
<p-dialog
  header="Add Parcour"
  [(visible)]="displayModal"
  [modal]="true"
  [style]="{ width: '50vw' }"
  [baseZIndex]="10000"
  [draggable]="false"
  [resizable]="false"
>
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="alert alert-danger" *ngIf="referenceExists"><strong>Reference deja Existe !</strong></div>

      <div class="alert alert-danger" *ngIf="libelleExists"><strong>Libelle deja Existe !</strong></div>
    </div>
  </div>
  <form name="form" role="form" (ngSubmit)="save()" [formGroup]="form">
    <div class="form-group">
      <label class="form-control-label" for="libelle">Libelle</label>
      <input
        type="text"
        class="form-control"
        id="libelle"
        name="libelle"
        placeholder="libelle du filiere"
        formControlName="libelle"
        data-cy="libelle"
      />

      <div *ngIf="form.get('libelle')!.invalid && (form.get('libelle')!.dirty || form.get('libelle')!.touched)">
        <small class="form-text text-danger" *ngIf="form.get('libelle')?.errors?.required"> libelle is required. </small>

        <small class="form-text text-danger" *ngIf="form.get('libelle')?.errors?.minlength">
          libelle is required to be at least 1 character.
        </small>

        <small class="form-text text-danger" *ngIf="form.get('libelle')?.errors?.maxlength">
          libelle cannot be longer than 50 characters.
        </small>

        <small class="form-text text-danger" *ngIf="form.get('libelle')?.errors?.pattern">
          libelle can only contain letters and digits.
        </small>
      </div>
    </div>
    <div class="form-group">
      <label class="form-control-label" for="reference">reference</label>
      <input
        type="text"
        class="form-control"
        id="reference"
        name="reference"
        placeholder="reference du filiere"
        formControlName="reference"
        data-cy="reference"
      />

      <div *ngIf="form.get('reference')!.invalid && (form.get('reference')!.dirty || form.get('reference')!.touched)">
        <small class="form-text text-danger" *ngIf="form.get('reference')?.errors?.required"> reference is required. </small>

        <small class="form-text text-danger" *ngIf="form.get('reference')?.errors?.minlength">
          reference is required to be at least 1 character.
        </small>

        <small class="form-text text-danger" *ngIf="form.get('reference')?.errors?.maxlength">
          reference cannot be longer than 50 characters.
        </small>

        <small class="form-text text-danger" *ngIf="form.get('reference')?.errors?.pattern">
          reference can only contain letters and digits.
        </small>
      </div>
    </div>
    <div class="form-group">
      <label class="form-control-label" for="nbrPlaces">Nombre de Place</label>
      <input
        type="text"
        class="form-control"
        id="nbrPlaces"
        name="nbrPlaces"
        placeholder="Nombre de Place du filiere"
        formControlName="nbrPlaces"
        data-cy="nbrPlaces"
      />

      <div *ngIf="form.get('nbrPlaces')!.invalid && (form.get('nbrPlaces')!.dirty || form.get('nbrPlaces')!.touched)">
        <small class="form-text text-danger" *ngIf="form.get('nbrPlaces')?.errors?.required"> reference is required. </small>

        <small class="form-text text-danger" *ngIf="form.get('nbrPlaces')?.errors?.minlength">
          reference is required to be at least 1 character.
        </small>

        <small class="form-text text-danger" *ngIf="form.get('nbrPlaces')?.errors?.maxlength">
          reference cannot be longer than 50 characters.
        </small>

        <small class="form-text text-danger" *ngIf="form.get('nbrPlaces')?.errors?.pattern"> reference can only contain digits. </small>
      </div>
    </div>

    <div class="flex mt-5 flex-row justify-between">
      <button
        (click)="displayModal = false"
        class="bg-red-500 px-5 py-3 text-sm shadow-sm font-medium tracking-wider border text-red-100 rounded-full hover:shadow-lg hover:bg-red-600"
      >
        Cancel
      </button>

      <button
        type="submit"
        class="bg-green-400 px-5 py-3 text-sm shadow-sm font-medium tracking-wider border text-green-100 rounded-full hover:shadow-lg hover:bg-green-500"
      >
        Save
      </button>
    </div>
  </form>
  <!--  <ng-template pTemplate="footer">-->
  <!--   -->

  <!--  </ng-template>-->
</p-dialog>
